<style>
	.final-tooltip {
		width: var(--wf-group-width, 100%);
	}
</style>


<script>
	import Input from './lib/Input.svelte';
	import SubmitButton from './lib/SubmitButton.svelte';

	const makeEmpty = (agg, field) => {
		agg[field.name] = '';
		return agg;
	};

	/** Mandatory ID for the form (to deduce input IDs and `for` attributes). */
	export let id;
	/** Field definitions. */
	export let fields;
	/** Event handler for submit events. */
	export let onSubmit;
	/** Submit button text. */
	export let submitText = 'Submit';
	/** The form values, indexed by `field.name`. */
	export let values = fields.reduce((agg, field) => {
		agg[field.name] = field.type === 'checkbox' ? false : '';
		return agg;
	}, {});
	/** A default error message to display if error handling fails. */
	export let defaultFormError = 'An unexpected error occurred.';
	/** Whether the last submission succeeded. */
	export let succeeded = undefined;
	/** Whether the form is currently submitting. */
	export let submitting = false;
	/** An optional class to add to the submit button. */
	export let buttonCls = '';

	export const defaultErrorHandler = () => {
		succeeded = false;
		formError = defaultFormError;
		fieldErrors = {};
	};
	/** An optional onSubmit() error handler. */
	export let onError = defaultErrorHandler;

	/** The form field errors, indexed by `field.name`. */
	let fieldErrors = fields.reduce(makeEmpty, {});

	/**
	 * An optional form-wide error.
	 *
	 * Used when an error occurs but is not associated with specific fields.
	 */
	let formError = '';

	/** Whether all fields passed their client-side validation. */
	let clientSideValid = true;
	let formErrorId;
	let validity = fields.reduce((agg, field) => {
		agg[field.name] = field.validators
			? field.validators.every(v => v(values[field.name]))
			: true;
		return agg;
	}, {});
	$: {
		clientSideValid = fields.every(field => validity[field.name]);
		formErrorId = formError ? `${id}-error` : undefined;
	}

	$: disabled = submitting || !clientSideValid || succeeded === false;

	const handleValidation = event => {
		validity[event.target.name] = event.detail.valid;
	};

	const handleChange = event => {
		const target = event.target;
		fieldErrors[target.name] = '';
		values[target.name] = target.type === 'checkbox'
			? target.checked
			: target.value;
		succeeded = undefined;
	};

	const handleSubmit = async () => {
		submitting = true;
		try {
			const result = await onSubmit(values);
			succeeded = true;
			if (result) {
				fieldErrors = result.errors || fields.reduce(makeEmpty, {});
				if (result.errors) {
					// Set succeeded to false iff result.errors contains errors.
					for (const _key in result.errors) {
						succeeded = false;
						break;
					}
				}

				if (result.formError) {
					formError = typeof result.formError === 'string'
						? result.formError
						: defaultFormError;
					succeeded = false;
				}
			}
			else {
				fieldErrors = {};
			}
		}
		catch (err) {
			onError(err, {
				form: id,
				values,
			});
		}
		submitting = false;
	};
</script>


<form
	{id}
	on:submit|preventDefault={handleSubmit}
	on:validation={handleValidation}
	on:change={handleChange}
	on:input={handleChange}
	aria-describedby={formErrorId}
	{...$$restProps}
>
	<slot
		{values}
		{fields}
		{submitting}
		{disabled}
		{submitText}
		{buttonCls}
		{formError}
		{formErrorId}
	>
		<slot
			name="inputs"
			{values}
			{fields}
			{submitting}
			{disabled}
			{submitText}
			{buttonCls}
			{fieldErrors}
			{formError}
			{formErrorId}
		>
			{#each fields as field}
				<Input
					id={id}-{field.name}
					name={field.name}
					cls={field.cls}
					groupCls={field.groupCls}
					type={field.type}
					label={field.label}
					options={field.options}
					autocomplete={field.autocomplete}
					placeholder={field.placeholder}
					required={field.required}
					validators={field.validators}
					value={values[field.name]}
					error={fieldErrors[field.name]}
				/>
			{/each}
		</slot>

		<slot name="form-error" {formError} {formErrorId}>
			{#if formError}
				<span id={formErrorId} role="alert" class="final-tooltip">
					{formError}
				</span>
			{/if}
		</slot>

		<slot
			name="submit-button"
			{submitting}
			{disabled}
			text={submitText}
			cls={buttonCls}
		>
			<SubmitButton type="submit" {disabled} text={submitText} {submitting}/>
		</slot>
	</slot>
</form>
