html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1, h2 {
	text-align: center;
}

section {
	margin: 0 auto 4em auto;
	max-width: 32em;
}

button[type="submit"] {
	margin: 0 auto;
}
