<style>
	.group {
		width: var(--wf-group-width, 100%);
		height: var(--wf-group-height);
		margin-bottom: var(--wf-tooltip-height, 2rem);
	}
	.group.inline {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.group.inline :global(.message) {
		margin-top: 1.5em;
	}

	label {
		color: var(--wf-text-hover-color, #575757);
		font-size: 14px;
		font-family: var(--wf-label-font);
		display: inline-block;
	}
	label.required:before {
		display: inline-block;
		visibility: visible;
		margin-right: 0.2em;
		color: var(--wf-required-color, var(--wf-error-color, red));
		font-family: sans-serif;
		line-height: 1;
		content: var(--wf-required-content, '*');
	}

	input:not([type="checkbox"]),
	textarea {
		box-sizing: border-box;
		width: var(--wf-input-width, 100%);
		display: block;
		color: var(--wf-text-hover-color);
		background-color: var(--wf-text-color);
		background-image: none;
		border: 1px solid #e5e5ea;
		-webkit-transition: border-color ease-in-out 0.3s;
		transition: border-color ease-in-out 0.3s;
		border-radius: 6px;
		padding: 7px 11px;
		font-size: var(--wf-input-font-size, 14px);
		line-height: 1.42857143;
	}
	textarea:focus,
	input:focus,
	select:focus {
		border-color: var(--wf-active-color, #1675e0);
		outline: var(--wf-input-outline, 0) !important;
	}
	textarea {
		max-width: 100%;
	}

	select {
		display: block;
		padding: 0.6em 0.75em;
		width: 100%;
		box-sizing: border-box;
		background-color: inherit;
		border: 1px solid #e5e5ea;
		border-radius: 0.5em;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292%22%20height%3D%22292%22%3E%3Cpath%20d%3D%22M%20275.392387%2C80.786128%20137.859727%2C218.31879%200%2C80.459059%22%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-width%3A30%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-opacity%3A1%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%22%20%2F%3E%3C%2Fsvg%3E');
		background-repeat: no-repeat, repeat;
		background-position: right 0.75em top 50%, 0 0;
		background-size: 0.6em auto, 100%;
		color: inherit;
	}
	select[disabled] {
		background-color: #dcdcdc;
	}
</style>


<script>
	import Message from './Message.svelte';

	export let id;
	export let type = 'text';
	export let name;
	export let title = undefined;
	export let options = undefined;
	export let autocomplete;
	export let placeholder = '';
	export let label;
	export let required = false;
	export let validators = [];
	export let value = undefined;
	export let cls = '';
	export let groupCls = '';
	export let inline = false;
	export let disabled = false;
	/** An optional external error to display. */
	export let error = '';

	let lastEditCommitted = false;
	let validationError = '';
	let isValid = !validationError;
	$: messageId = `${id}-message`;

	const validate = val => {
		for (const validator of validators) {
			const pair = validator(val);
			if (!pair[0]) {
				return pair;
			}
		}
		return [true, ''];
	};

	const handleInput = event => {
		lastEditCommitted = event.type === 'change';
		const target = event.target;
		value = target.type === 'checkbox' ? target.checked : target.value;

		const result = validate(value);
		if (result[0] !== isValid || result[1] !== validationError) {
			[isValid, validationError] = result;
			const validationEvent = new CustomEvent('validation', {
				bubbles: true,
				detail: {
					value,
					valid: isValid,
					message: validationError,
				},
			});
			target.dispatchEvent(validationEvent);
		}
	};
</script>


<div
	role="group"
	class="group {groupCls}"
	class:inline={inline || type === 'checkbox'}
>
	<label for={id} class:required>{label}</label>
	{#if type === 'textarea'}
		<textarea
			{id}
			{name}
			{value}
			{autocomplete}
			class={cls}
			title={title === undefined ? name : title}
			{placeholder}
			{disabled}
			on:change={handleInput}
			on:input={handleInput}
			aria-describedby={messageId}
			aria-invalid={!isValid}
			aria-required={required}
		/>
	{:else if type === 'select'}
		<select
			{id}
			{name}
			{value}
			{autocomplete}
			class={cls}
			title={title === undefined ? name : title}
			{placeholder}
			{disabled}
			on:blur={handleInput}
			on:input={handleInput}
			aria-describedby={messageId}
			aria-invalid={!isValid}
			aria-required={required}
		>
			<slot name="options">
				{#each options as option}
					<option value={option.value}>{option.text}</option>
				{/each}
			</slot>
		</select>
	{:else if typeof type !== 'string'}
		<svelte:component
			this={type}
			{id}
			{name}
			{value}
			{autocomplete}
			class={cls}
			title={title === undefined ? name : title}
			{placeholder}
			{disabled}
			on:blur={handleInput}
			on:input={handleInput}
			aria-describedby={messageId}
			aria-invalid={!isValid}
			aria-required={required}
		/>
	{:else}
		<input
			{type}
			{id}
			{name}
			value={type === 'checkbox' || type === 'radio' ? undefined : value}
			checked={type === 'checkbox' || type === 'radio' ? value : undefined}
			{autocomplete}
			{placeholder}
			{disabled}
			class={cls}
			title={title === undefined ? name : title}
			on:change={handleInput}
			on:input={handleInput}
			aria-describedby={messageId}
			aria-invalid={!isValid}
			aria-required={required}
		>
	{/if}

	<Message
		id={messageId}
		text={error || validationError}
		type="error"
		role={error || lastEditCommitted ? 'alert' : undefined}
		absolute
	/>
</div>
