<style>
	.message {
		font-size: 13px;
		display: block;
		line-height: var(--wf-message-line-height, 1.42857143);
		font-size: 14px;
	}
	.absolute {
		position: absolute;
	}

	.info {
		color: var(--wf-info-color, #575757);
	}
	.error {
		color: var(--wf-error-color, #ec5050);
	}
</style>


<script>
	import {fly} from 'svelte/transition';

	/**
	 * An ID for the element describing the alert.
	 *
	 * Useful for linking with an erroneous input, for accessibility.
	 */
	export let id = '';
	/** The type of message. */
	export let type = 'info'; // 'info' | 'warning' | 'error'
	/** The message to convey. */
	export let text = '';
	/** Whether to hide this message. */
	export let hidden = false;
	/** Whether this message should have `position: absolute` set. */
	export let absolute = false;
	/** A role to use for the message. */
	export let role = undefined;
</script>


{#if !hidden && text}
	<span {role} class="message" class:absolute in:fly={{duration: 500, y: -20}}>
		<small {id} class={type}>{text}</small>
	</span>
{/if}
