<script>
	import {Circle} from 'svelte-loading-spinners';
	import {expand} from './expand';

	/** The type of this button. */
	export let type = 'submit';
	/** Whether this button is disabled. */
	export let disabled = false;
	/** The button text. */
	export let text = 'Submit';
	/** Whether the action is submitting. */
	export let submitting = false;
	/** Options for the expand animation. */
	export let animation = {duration: 1500};
	/** Extra classes to add to the button element. */
	export let cls = '';
	/** Submitting icon colour. */
	export let iconColour = '#ffffff';
</script>


<style>
	button,
	button:hover,
	button:focus {
		color: var(--wf-button-text-hover-color, #575757);
		text-decoration: none;
		padding: var(--wf-button-padding, 8px 12px);
		border-radius: var(--wf-button-border-radius, 6px);
		outline: 0;
		border: none;
		line-height: var(--wf-button-line-height, 1.423);
		cursor: pointer;
	}
	button {
		display: flex;
		flex-direction: row;
		color: var(--wf-button-text-color, #fff);
		background-color: var(--wf-button-color, #3498ff);
	}
	button:active {
		color: var(--wf-button-text-active-color, var(--wf-button-text-color, #fff));
		background-color: var(--wf-button-active-color, #1675e0);
	}
	button:not([disabled]):hover {
		background-color: var(--wf-button-hover-color, #2589f5);
	}
	button:hover {
		color: var(--wf-button-text-color, #fff);
	}
	button:focus {
		color: var(--wf-button-text-color, #fff);
		background-color: var(--wf-button-hover-color, #2589f5);
	}
	button[disabled] {
		background-color: var(--wf-button-disabled-color, #82a7ce);
	}

	button .submit-icon {
		display: inline-block;
	}

	.submit-icon > :global(.circle) {
		float: right;
		margin-left: 8px;
	}
</style>


<button type={type} {disabled} class:submitting class={cls}>
	{text}
	{#if submitting}
		<slot name="submitting">
			<div class="submit-icon" transition:expand={animation}>
				<Circle size={16} color={iconColour}/>
			</div>
		</slot>
	{/if}
</button>
