<script>
	import SvelteWellFormed from 'svelte-well-formed';

	import ShowValues from './ShowValues.svelte';


	const fields = [
		{
			type: 'text',
			name: 'text',
			label: 'Text input',
			autocomplete: 'off',
		},
		{
			type: 'textarea',
			name: 'textarea',
			label: 'Textarea',
			autocomplete: 'off',
		},
		{
			type: 'checkbox',
			name: 'checkbox',
			label: 'Checkbox',
			autocomplete: 'off',
		},
		{
			type: 'select',
			name: 'select',
			label: 'Select',
			autocomplete: 'off',
			options: [
				{value: 'one', text: 'One'},
				{value: 'two', text: 'Two'},
				{value: 'three', text: 'Three'},
			],
		},
	];

	let values = {
		text: '',
		textarea: '',
		checkbox: true,
		select: 'one',
	};

	$: content = JSON.stringify(values, null, 2);

	const onSubmit = vals => {
		console.log('Submit', vals);
	};
</script>


<section>
	<header><h2>Different input types</h2></header>
	<SvelteWellFormed id="different" {fields} bind:values {onSubmit}/>
	<ShowValues {values}/>
</section>
