<script>
	import LoginForm from './Login.svelte';
	import AllFieldsForm from './AllFields.svelte';
	import WithCustomSubmit from './WithCustomSubmit.svelte';
	import CustomContent from './CustomContent.svelte';
</script>

<LoginForm/>
<AllFieldsForm/>
<WithCustomSubmit/>
<CustomContent/>
