<script>
	import SvelteWellFormed from 'svelte-well-formed';
	import Input from 'svelte-well-formed/lib/Input.svelte';
	import {isRequired} from 'svelte-well-formed/lib/validators';

	import ShowValues from './ShowValues.svelte';


	const fields = [
		{
			name: 'text',
			type: 'text',
			label: 'Text',
			validators: [isRequired],
		},
	];

	const handleSubmit = values => {
		console.log('Text:', values.text);
	};
</script>


<section>
	<header><h2>A form with custom content</h2></header>
	<SvelteWellFormed id="custom-content" {fields} onSubmit={handleSubmit}>
		<div slot="inputs" let:fieldErrors>
			<p>We can also provide custom content in the form body.</p>
			<Input
				id="custom-content-text"
				name={fields[0].name}
				label={fields[0].label}
				autocomplete="off"
				placeholder={fields[0].placeholder}
				validators={fields[0].validators}
				value=""
				required
				error={fieldErrors.text}
			/>
		</div>
	</SvelteWellFormed>
</section>
