<script>
	import SvelteWellFormed from 'svelte-well-formed';
	import {
		isValidUsername,
		isValidPassword,
		isLaxPassword,
		isRequired,
	} from 'svelte-well-formed/lib/validators';

	import ShowValues from './ShowValues.svelte';

	const fields = [
		{
			name: 'username',
			label: 'Username',
			validators: [isRequired, isValidUsername],
			autocomplete: 'username',
		},
		{
			type: 'password',
			name: 'password',
			label: 'Password',
			validators: [isRequired, isValidPassword],
			autocomplete: 'current-password',
		},
		{
			name: 'succeed',
			type: 'checkbox',
			label: 'Should the submit handler succeed?',
			validators: [isRequired],
			autocomplete: 'off',
		},
		{
			name: 'milliseconds',
			type: 'number',
			label: 'How many milliseconds should submission take?',
			autocomplete: 'off',
		},
	];

	const handleSubmit = async values => {
		await new Promise(resolve => setTimeout(resolve, values.milliseconds));
		if (values.succeed) {
			return undefined;
		}
		return {
			errors: {
				succeed: 'This field made your submission fail.',
			},
		};
	};

	let values = {
		username: 'username123',
		password: '',
		succeed: true,
		milliseconds: 1000,
	};
</script>


<section>
	<header><h2>A simple login form</h2></header>
	<SvelteWellFormed id="login" {fields} bind:values onSubmit={handleSubmit}/>
	<ShowValues {values}/>
</section>
