<script>
	export let values;

	$: json = JSON.stringify(values, null, 2);
</script>

<style>
	pre {
		background-color: #f7f7f7;
		border-left: 2px solid orange;
	}
</style>

<section>
	<header><h3>Values</h3></header>
	<pre><code>{json}</code></pre>
</section>
