<script>
	import {slide} from 'svelte/transition';
	import SvelteWellFormed from 'svelte-well-formed';

	import ShowValues from './ShowValues.svelte';

	const fields = [];

	const onSubmit = () => {
		console.log('Submitting!');
		return new Promise(resolve => setTimeout(resolve, 1000));
	};
</script>


<style>
	.custom-submit-button-class {
		background-color: green;
		color: #fefefe;
		padding: 2em;
		border-radius: 4px;
		outline: none;
		border: none;
		cursor: pointer;
		display: block;
	}

	@keyframes submit {
		from {
			content: 'Submit';
		}
		to {
			content: 'Submitting!';
		}
	}
</style>


<section>
	<header><h2>Custom submit button</h2></header>
	<SvelteWellFormed id="custom-submit-button" {fields} {onSubmit} buttonCls="custom-submit-button-class">
		<button type="submit" slot="submit-button" let:text let:disabled let:submitting let:cls class={cls}>
			{#if submitting}
				Submitting!
			{:else}
				Submit
			{/if}
		</button>
	</SvelteWellFormed>
</section>
